* { 
  outline: none; font: 16px/1.4 Helvetica, Arial, sans-serif; 
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}


body { background-color: #fff; }

@media (max-width: 700px) {
  div.content { 
    width: 100% !important; 
    margin: 0 auto; 
    /*padding: 1em; */
  }
}
h1 {
  font-size: 24pt;
}
div.content {
  width: 800px; 
  background-color:lightskyblue;
  /*
  border-radius: 1em;
  margin: 2em auto; 
  padding: 20px 50px;
  */
}
#messages{
  padding-left: 24px;
  padding-right: 24px;
  border-top: 1px solid rgba(0,0,0,0.3);
  border-bottom: 1px solid rgba(0,0,0,0.3);
}
#helpButton{ 
  position: absolute;
  top: 8px;
  right: 8px;
  cursor: pointer;
}

#control-container {
  height: 8em;
}
#room-control, #message-control{
  line-height: 2em;
}
.hidden {display: none;}